<header class="main-header">
    <div class="grid">
        <div class="logo"></div>
        <nav>
            <a href="//Postie.com">Postie Home</a>
        </nav>
    </div>
</header>
<header class="sub-header">
    <div class="grid">
        <h1 class="site-title">Postie Compliance</h1>
        <a class="up-next" href="/#/">&gt; Policy Docs</a>
        <% if current_page.data.search %>
        <% end %>
    </div>
</header>
<div class="grid">
    <ul class="search-results"></ul>
</div>
