<section class="product-navigation">
	<a href="//Postie.com/compliance" class="left">&lsaquo;</a>
	<span class="span-left">Compliance Home</span>
	<span class="quote">&copy; Postie, Inc. 2015</span>
	<a href="//policy.Postie.com" class="right">&rsaquo;</a>
	<span class="span-right">Open Source Policies</span>
</section>